@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Photo List</h1>
    <h4>Welcome to your favourite website</h4>
</div>
<a asp-controller="Photo" asp-action="Index" type="button" class="btn btn-primary" style="width:300px;
margin-left:38%;margin-top:20%">Go to My Photos</a>

